@{
    ViewData["Title"] = "صفحه ثبت";

}

    <div class="card" style="width: 18rem;">
        <div style="background-color:chocolate;color:transparent">1</div>
        <div class="card-body">
            <h5 class="card-title"></h5>
        <form>
                <input type="text" name="Title"  placeholder="Name" />
                <input type="text" name="Color"  placeholder="Hex" />

            <button type="submit" class="btn btn-primary mx-1" asp-controller="Product"  asp-action="Create" formmethod="post">ایجاد</button>
        </form>
        </div>
    </div>


