@model  CW9and10.Models.Entites.Product;
@{
    ViewData["Title"] = "Home page";

}





    <div class="card" style="width: 18rem;">
        <div style="background-color:chocolate;color:transparent">1</div>
        <div class="card-body">
            <h5 class="card-title"></h5>
        <form asp-controller="ProductControlle" asp-action="Create">
                <input type="text" placeholder="Name" />
                <input type="text" placeholder="Hex"/>
                @{
               
                }
                <input type="submit" value="فشاربده"/>

          </form>
        </div>
    </div>


