@model CW9and10.Models.Entites.Product;

@{
    ViewData["Title"] = "صفحه ویرایش";

}


<div class="card" style="width: 18rem;">
    <div style="background-color:chocolate;color:transparent">1</div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <form method="post">
            <input type="text" asp-for="Name" readonly placeholder="Name" />
            <input type="text" asp-for="Color" placeholder="Hex" />

           <button type="submit" class="btn btn-primary mx-1" asp-controller="Product" asp-action="Edit">ویرایش</button>

        </form>
    </div>
</div>


